header {
  background-color: #4287f5;
  padding: 20px;
  color: #fff;
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  width: 100%;

}

header h1 {
  margin: 0;
  font-size: 24px;
}

/* Styles for the main content */
main {
  padding: 20px;
  margin-top: 80px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #f54285; /* Updated link hover color */
}

/* Styles for the footer */
footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

nav {
  position: relative;
  z-index: 1;
}
