<!-- base.html -->
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Snack Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            
                <a href="{% url 'snack_list' %}">Snack List</a>
                <a href="{% url 'snack_create' %}">Create Snack</a>


           
        </nav>
        <h1>Snack Tracker</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        &copy; TheTeaser
    </footer>
</body>
</html>
